body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  margin: 20px 24px 0px 24px;
}

.image-text {
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px 24px 0px 24px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-text {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.name-text {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.web-title {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.web-title-black {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #000000;
}

.web-title-white {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-normal {
  text-decoration: none;
  color: #212121;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link-normal:hover {
  color: #2196f3;
}

.link-current {
  color: #2196f3;
}

.contacts {
  color: #757575;
  font-style: normal;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mail {
  text-decoration-line: underline;
}

.contacts:hover {
  color: #2196f3;
}

.button-filter:hover {
  background: #2196f3;
}
.button-filter {
  padding: 0px 22px;
  cursor: pointer;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  border: none;
}

.button-head {
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.button-head:hover {
  background: #ffffff;
  color: #000000;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.header {
  background: #ffffff;
  max-width: 1600px;
  margin: auto;
  border: 1px solid #ececec;
  border-width: 0px 0px 1px 0px;
}

.banner {
  background: #2f303a;
}
.footer {
  background: #2f303a;
  max-width: 1600px;
  margin: auto;
  height: 225px;
}
/* flexbox styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0px;
}
.section {
  max-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin: auto;
}
.header-container {
  width: 1200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 93px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 46px;
}

.contact-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 0px;
  margin-left: auto;
}
.photos-list {
  display: flex;
  height: 100%;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 30px;
  gap: 30px;
}

.photos-li {
  flex-basis: calc(100% / 3);
  border: 1px solid #eeeeee;
  border-width: 0px 1px 1px 1px;
  max-width: fit-content;
  column-gap: 30px;
  gap: 30px;
}

.fig {
  background: #ffffff;
  width: 370px;
  height: 404px;
}
.flex-buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 8px;
  padding-bottom: 50px;
}
.address-padd {
  padding: 20px 0px 0px 0px;
}
.foot-flex {
  padding: 60px 0px 60px 0px;
}
